/* GENERAL LAYOUT STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  background-color: #002543;
  height: 100vh;
  width: 100vw;
}

#menu {
  width: 100vw;
  height: 15vh;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  z-index: 10
}

#menu span {
  color: #a68257;
  font-size: 2em;
  font-weight: bolder;
  padding: 10px;
  margin-top: -20px;
  margin-left: 35px;
  border: 7px solid #a68257;
}

#app {
  width: 100vw;
  height: 85vh;
}


/* NICKNAME MENU STYLING */

#channel-wrap{
  width: 100%;
  height: 80%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

#channel-form{
  border: 7px solid #a68257;
  border-radius: 5px;
  padding: 35px;
  color: #a68257;
}

/* NICKNAME MENU STYLING */

#nickname-wrap{
  width: 100%;
  height: 80%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

#nickname-form{
  border: 7px solid #a68257;
  border-radius: 5px;
  padding: 35px;
  color: #a68257;
}

/* GENERAL CHAT STYLING */

#chat-wrap {
  width: 100%;
  height: 80%;
  display: none;
}

.messages {
  list-style-type: none;
  font-size: 2em;
  color: #002543;
  margin: 25px;
  margin-top: 0px;
}

.messages li {
  padding: 7px;
  opacity: .3;
}

.profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/* PARNTER CHAT BUBBLE */

#partner-chat {
  display: flex;
  padding-left: 50px;
  width: 80%;
  height: 65%;
  margin-bottom: 20px;
}

#partner-chat-bubble {
  background-color: #f8a6a8;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#partner-past-messages {
  height: 70%;
  width: 100%;
  overflow: scroll;
}

#partner-current-message {
  position: relative;
  font-size: 2em;
  color: #002543;
  margin: 25px;
  padding: 10px;
  opacity: 1;
}

.arrow-left {
  position: relative;
  padding-left: 20px;
  top: 78%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right:20px solid #f8a6a8;
}

#partner-chat div.profile {
  position: relative;
  top: 65%;
}

#partner-chat img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 70%;
}

#partner-nickname {
  text-align: center;
  color: #a68257;
  padding-top: 10px;
  font-weight: bolder;
  font-size: 1.2em;
}

/* USER CHAT BUBBLE */

#user-chat {
  display: flex;
  padding-right: 50px;
  width: 80%;
  height: 45%;
  margin-top: 20px;
  float: right;
}

#user-chat-bubble {
  background-color: #c4efe7;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#user-past-messages {
  overflow: scroll;
  height: 60%;
  width: 100%;
}

#message-box {
  font-size: 2em;
  color: #002543;
  margin: 25px;
  background-color: #d4f3ee;
  padding: 10px;
  opacity: 1;
}

.arrow-right {
  position: relative;
  padding-right: 20px;
  top: 14%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #c4efe7;
}

#user-chat img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 3%;
}

#user-nickname {
  text-align: center;
  color: #a68257;
  padding-top: 10px;
  font-weight: bolder;
  font-size: 1.2em;
}

#messages li.user_connect_msg {
  background: rgb(130, 224, 255);
  font-weight: bold;
}

#messages li.user_disconnect_msg {
  background: red;
  font-weight: bold;
}



